target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
nb-configuration.xml
/headlands/copyToDocker.js
release.sh
/headlands/build.sh
/headlands/nbproject/
node_modules